# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep
data-models/
data/processed/vep/vep_cache/
logs/
*.log

# Large files
*.dcm
*.nii
*.nii.gz
*.mha
*.raw
*.json
*.tsv
*.tsv.gz
*.csv data/raw/variants/Cosmic_MutantCensus_v102_GRCh38.tsv
*.vcf
*.vcf.gz
data/raw/variants/*.tsv
data/raw/variants/*.tsv.gz
data/raw/variants/vcf_GRCh38/clinvar_vcf_GRCh38.vcf
*.vcf
*.sif
